[Unit]
Description=Weblogic Service for nDelius
After=network.target

[Service]
Type=simple
{% if wls_service_user is defined and wls_service_user.name is defined %}
User={{ wls_service_user.name }}
{% else %}
User=oracle
{% endif %}
WorkingDirectory={{ mw_home | default('/u01/app/oracle/middleware') }}/user_projects/domains/{{ domain_name | default('NDelius') }}/
ExecStart={{ mw_home | default('/u01/app/oracle/middleware') }}/user_projects/domains/{{ domain_name | default('NDelius') }}/startWebLogic.sh
Restart=on-failure
ExecStop={{ mw_home | default('/u01/app/oracle/middleware') }}/user_projects/domains/{{ domain_name | default('NDelius') }}/bin/stopWebLogic.sh

[Install]
WantedBy=multi-user.target
